body,
header,
ul,
main,
.camera,
article,
span,
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
body{
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
/*En-tête*/
header{
    height: 100px;
    color: white;
    background-color: black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    height: 100px;
}
ul{
    list-style: none;
}
li{
    margin: 20px 40px 0 40px;
}
.img-logo{
    width: 120px;
    height: 100px;
}
a{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
}
.store{
    display: flex;
    margin-top: 20px;
}
.add-sign{
    position: relative;
    right: 5px;
    top: 10px;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    font-size: 14px;
}
/*corps*/
main{
    flex-direction: column;
}
/*footer*/
footer{
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: black;
    height: 150px;
    margin-top: 40px;
}

/*div Products*/
.camera{
    flex-direction: row;
    margin: 100px 0 100px 0;
}
.text-product{
    width: 20%;
}
h1{
    margin: 0;
    padding: 10px;
    border-left: 2px solid black;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}
.product-content{
    color: black;
}
.title-product{
    border-left: 2px solid black;
    padding-left: 10px;
}
article{
    flex-direction: column;
    width: 280px;
    margin: 20px;
    overflow: hidden;
}
.infos-article{
    color: black;
}
.text-lens{
    font-weight: bold;
}
.select-lens{
    width: 95%;
    margin: 10px 0 5px 0;
}
.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    font-weight: bold;
    color: black;
}
span{
    justify-content: space-between;
}
.img-article{
    width: 100%;
    height: auto;
    vertical-align: middle;
    filter: blur(2px);
}
.small{
    height: 200px;
}
article>.img-article:hover{
    transition: ease-in 0.2s;
    filter: blur(0px);
}
/*div Cart*/
.cart-main{
    display: flex;
    align-items: center;
    margin: 50px 0 50px 0;
}
#cart-infos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}
.title-cart{
    margin-bottom: 20px;
}
.cart{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.item-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.select-img{
    width: 300px;
}
.product-infos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
}
.select-lens{
    width: 40%;
}
.select-quantity{
    width: 10%;
}
/* total cart*/
.price-cart{
    width: 30%;
    height: 100%;
    background-color: black;
    color: white;
    padding-left: 20px;
}
.title-price{
    padding: 10px;
    border-left: 2px solid white;
}